{% extends 'core/layout/onecolumn.html' %}



{% block title %}Maps{% endblock %}



{% block additional_headers %}

  {{ block.super }}

  {# Hacks to get the layout working for this page only #}
  <style>
    .maps .map {
      width: 300px;
      float: left;
      height: 30em;
      padding: 0.1em;
      margin: 0.3em;
    }
    #content .maps .map img {
      width: 300px;
      border: 1px solid #cccccc;
    }
  </style>

{% endblock %}


{% load markers %}
{% block content %}

  {% marker template='cartography/img/templates/up.png' text='20' %}

  <h1>RIPE Atlas - Map Visualisations</h1>

  <div class="maps">

    <div class="map">
      <h4><a href="{% url map_root_anycast %}?msm_id=1">DNS root instances</a></h4>
      <a href="{% url map_root_anycast %}?msm_id=1"><img src="{{ STATIC_URL }}cartography/anycast.jpg" /></a>
      <p>
        Shows, for each probe, which root DNS server instance the probe ends up
        querying, when they ask a particular root server. In other words, it
        shows the "gravitational radius" for root DNS server instances.
      </p>
    </div>

    <div class="map">
      <h4><a href="{% url map_comparative_root_rtt %}">Comparative DNS Root RTT</a></h4>
      <a href="{% url map_comparative_root_rtt %}"><img src="{{ STATIC_URL }}cartography/rootcompare.jpg" /></a>
      <p>
        Shows a comparison of response time for DNS SOA queries to all the root
        DNS servers. For each probe, a marker shows the "best" root server with
        colour identifying the related minimum response time.
      </p>
    </div>

    <div class="map">
      <h4><a href="{% url map_udp_tcp_root_rtt %}?root_id=1">DNS root server TCP/UDP performaces</a></h4>
      <a href="{% url map_udp_tcp_root_rtt %}?root_id=1"><img src="{{ STATIC_URL }}cartography/dns-tcp-udp.jpg" /></a>
      <p>
        This map shows the reply time to the SOA query of a particular root DNS
        server, over the selected transport protocol (UDP, TCP or comparison of
        the two) for each probe.
      </p>
    </div>

    <div class="map">
      <h4><a href="{% url map_rtt %}?msm_id=1">RTT to fixed destinations</a></h4>
      <a href="{% url map_rtt %}?msm_id=1"><img src="{{ STATIC_URL }}cartography/rtt.jpg" /></a>
      <p>
        Shows the color coding for the RTT value for the particular destination
        for each probe. The minimum / average / maximum values are based
        on standard "ping" measurements.
      </p>
    </div>

    <div class="map">
      <h4><a href="{% url map_reachability %}?msm_id=1">Reachability of fixed destinations</a></h4>
      <a href="{% url map_reachability %}?msm_id=1"><img src="{{ STATIC_URL }}cartography/reachability.jpg" /></a>
      <p>
        Shows if the particular fixed destination is reachable or not from each
        probe.  Red markers indicate that the specific destination for these
        probes are unreachable and green reachable.
      </p>
    </div>

    <div class="map">
      <h4><a href="{% url active-probes-map %}">RIPE Atlas network extent</a></h4>
      <a href="{% url active-probes-map %}"><img src="{{ STATIC_URL }}cartography/active.jpg" /></a>
      <p>
        Shows the extent of the RIPE Atlas network, with all active and
        inactive probes.
      </p>
    </div>

    <div class="map">
      <h4><a href="{% url map_density %}">Percentage of probes per country</a></h4>
      <a href="{% url map_density %}"><img src="{{ STATIC_URL }}cartography/density.png" /></a>
      <p>
        Shows the distribution of probes in the world using coloring to
        highlight the most populated countries. Only up probes are taken into
        account.
      </p>
    </div>

  </div>

{% endblock %}
